
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: 'Droid sans', Helvetica, arial, 'Microsoft Jhenghei', 'PMingLiu', 'Heiti TC', sans-serif;
    position: relative;
    overflow: hidden;
    background-color: #154360;
    background-size: cover;
}

.ui-dialog {
    font-size: 14px;
    text-align: center;
    border: 1px solid #AAA;
    background: #154360;
  }
  
  .ui-widget-header,.ui-state-default{ 
    font-size: 16px;
    text-align: center;
    background-color:#154360;
    border: 1px solid #AAA;
    color: #FFF;
    font-weight: bold;
  }
  
  .ui-dialog-titlebar-close {
    display: none;
  }
  
  .ui-button {
    font-size: 14px;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 5px;
    margin-bottom: 5px;
  
    color: #FFF;
    background: #154360;
    width: 120px;
    height: 22px;
    border: 1px solid #888;
    border-radius: 4px 4px 4px 4px;
  }
  
  svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    
  .line {
    stroke: blue;
    stroke-width: 0.7px;
    stroke-linecap: square;
  }
    
  .handle {
    fill: blue;
    pointer-events: all;
    stroke:blue;
    stroke-width: 2px;
    cursor: move;
    opacity: 0.8;
  }
  
  .slider {
    -webkit-appearance: none;
    overflow: hidden;
    width: 200;
    height: 20px;
    background: none;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:#FAFAFA;
    transition: .2s;
  }
  
  .slider::-webkit-slider-runnable-track {
    background-color: #FFF;
    height: 4px;
    border-radius: 5px;
  }
  
  .slider:active::-webkit-slider-thumb{
    top:-8px;
    width:20px;
    height:20px;
  }




