
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: 'Droid sans', Helvetica, arial, 'Microsoft Jhenghei', 'PMingLiu', 'Heiti TC', sans-serif;
    position: relative;
    overflow: hidden;
    background-color: #154360;
    background-size: cover;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}
  
.line {
    stroke: blue;
    stroke-width: 0.7px;
    stroke-linecap: square;
}
  
.handle {
    fill: blue;
    pointer-events: all;
    stroke:blue;
    stroke-width: 2px;
    cursor: move;
    opacity: 0.8;
}

 .slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 8px;
    border-radius: 5px;  
    background: #FAFAFA;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #8dbfe0;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FAFAFA;
    cursor: pointer;
  }

  p {
      white-space: pre-line;
  }


  table, th, td {
    border: 1px solid #FFF;
    border-collapse: collapse;
  }

  .ui-dialog {
    font-size: 14px;
    text-align: center;
    border: 1px solid #AAA;
    background: #154360;
  }
  
  .ui-widget-header,.ui-state-default{ 
    font-size: 16px;
    text-align: center;
    background-color:#154360;
    border: 1px solid #AAA;
    color: #FFF;
    font-weight: bold;
  }
  
  .ui-dialog-titlebar-close {
    display: none;
  }
  
  .ui-button {
    font-size: 12px;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 5px;
    margin-bottom: 5px;

    color: #FAFAFA;
    background: #1F618D;
    width: 120px;
    height: 22px;
    border: 1px solid #888;
    border-radius: 4px 4px 4px 4px;
  }

  select {
    font-size: 12px;
    width: 120px;
    height: 22px;
    /* font-weight: bold; */
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border: solid 1px #888;
    color: #FFF;
    background: #1F618D;
  } 